@inject GlobalStateDemo GlobalState

<h3>Global Räknare</h3>
<h4>Incremented value: @counterValue</h4>
<button @onclick="IncrementCount">Increments Globalstate counter</button>


<LifecycleMethodsComponent Test="100"/>

@code {
    [Parameter]
    public int IncrementsBy { get; set; } = 1;

    private int counterValue => GlobalState.Counter;

    protected override void OnInitialized()
    {
        GlobalState.OnChange += StateHasChanged;
    }

    private void IncrementCount(){
        GlobalState.Increment(15);
    }

    public void Dispose()
    {
        GlobalState.OnChange -= StateHasChanged;
    }
}