@page "/counter"
@using BlazorDemo2.Components

<PageTitle>Counter</PageTitle>

<CounterInterval step="15"/>

<h3> Prenumererad Counter global</h3>
<CounterGlobal/>

<h3>Oprenumererad Counter Global</h3>
<CounterGlobalUnsubscribed/>

@code {

}
