@page "/"

<PageTitle>Home</PageTitle>

<a href="/route-demo/1">Går till route-demo</a>

<GreetingsComponent/>
Welcome to your new app.

<GlobalNameStateEdit/>
<div>
    <LifecycleMethodsComponent EnteredValue="100" />
</div>
